{% extends 'base.html.twig' %}

{% block title %}CardsFolder{% endblock %}

{% block body %}
    <section class="searchBar">
        <form method="get" action="">
            <div>
                <input type="text" name="name" placeholder="Nom">
            </div>
            <select name="context">
                <option value="name">Toutes</option>
                <option value="folders">Folder</option>
                <option value="wishes">WishList</option>
            </select>
            <button type="submit">Filtrer</button>
        </form>
    </section>
    <section class="cards">
        {% for card in toShow %}
            <div class="card-container">
                <div class="card-content">
                    <h5>{{ card.name }}</h5>
                </div>
                <div class="card-buttons">
                    <a href="{{ path('app_addFolder', {cardId: card.id, quality: 3, exchangeable: true}) }}">Ajouter au folder</a>
                    {% if card in userFolder %}
                        <span>Carte {{ cardCounts[card.id] }} fois dans votre Folder</span>
                    {% endif %}
                    {% if card in userWishes %}
                        <span>Carte souhaitée</span>
                        <a href="{{ path('app_removeWish', {cardId: card.id}) }}">Retirer aux souhaits</a>
                    {% else %}
                        <a href="{{ path('app_addWish', {cardId: card.id}) }}">Ajouter aux souhaits</a>
                    {% endif %}
                </div>
                
            </div>
        {% endfor %}
    </section>
{% endblock %}
