{# Gestion erreur images #}
    <script>
    function handleImageError(imageElement) {
        const fallbackDiv = document.createElement('div');
        fallbackDiv.innerHTML = '<img class="card-image image-fallback" src="/no-image.jpg" alt="Image Introuvable">'
        imageElement.replaceWith(fallbackDiv);
    }
    </script>

{% include "/partials/card/cardMain.html.twig" %}

<div class="card-more" id="quickH{{card.id}}">
    {# Exchange Matches #}
    {# Matches #}
        <div class="matches">
            {% set length = exchangeData|length %}
            {% if length > 0 %}
                <div class="exchanges-zone">
                    <div class="exchanges">
                        {% for exchange in exchangeData %}
                            {% set wish = exchange.matches.wish %}
                            {% set reverse = exchange.reverse %}
                            {% if wish.id == card.id %}
                                <div class="exchange">
                                    <div class="">
                                        <span>{{ exchange.matches.folder.owner.name }} l'échange contre :</span>
                                    </div>
                                    <div class="miniatures">
                                        {% for card in reverse %}
                                            <div class="miniature">
                                                <small>{{ card.wish.name }}</small>
                                                <img src="{{ card.wish.image }}"  onerror="handleImageError(this)">
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                    <p>Aucun match trouvé.</p>
            {% endif %}
        </div>
    
    {# My Folder #}
        {# <div class="my-folder">
            <div class="my-cards">
                {% for card in userCardsInFolder %}
                    <div class="card-miniature">
                        <small>{{ card.name }}</small>
                        <small>x{{ userFolderDetails[card.id]|length }}</small>
                        <div class="each-card">
                            {% for folder in userFolderDetails[card.id] %}
                                <div class="mini-card">
                                    <div class="miniature d-flex">
                                        <img src="{{card.image}}" alt="" onerror=handleImageError(this)>
                                    </div>
                                    <div class="spec">
                                        <p class="mini-text">Q:{{ folder.quality }}</p>
                                        <p class="mini-text">E:{{ folder.exchangeable ? 'Oui' : 'Non' }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div> #}
        {# Ajouter au folder #}
            <form action="{{ path('app_addFolder', {cardId: card.id}) }}" method="POST" class="folder-add">
                <div class="card-quality">
                    <label for="quality">Qualité :</label>
                    <select name="quality" id="quality">
                        <option value="5" title="état neuf">5/5</option>
                        <option value="4" title="légère usure">4/5</option>
                        <option value="3" title="usure modérée">3/5</option>
                        <option value="2" title="forte usure">2/5</option>
                        <option value="1" title="endomagée">1/5</option>
                    </select>
                </div>
    
                <div class="card-exchangeable">
                    <label for="exchangeable">Échangeable :</label>
                    <input type="checkbox" name="exchangeable" id="exchangeable" value="1">
                </div>
    
                <button type="submit">Ajouter au folder</button>
            </form>
        </div>
</div>

{# JS #}
{# <script>
// Déploiement de fenêtre
    function toggle(cardId) {
    const target = document.querySelector(`#quickH${cardId}`)
    target.classList.toggle('closedH');
    const parent = target.parentElement;
    parent.classList.toggle('opened');
    //const targetPosition = parent.getBoundingClientRect().top  + window.scrollY - 20;
    //window.scrollTo({ top: targetPosition, behavior: 'smooth' });
    //Fermeture si clic en dehors
    document.addEventListener('click', function handleOutsideClick(event) {
            if (!parent.contains(event.target)) {
                target.classList.add('closedH');
                parent.classList.toggle('opened');
                document.removeEventListener('click', handleOutsideClick);
            }
        });
    }
</script> #}